*{
    color: rgba(44, 35, 35, 0.966);
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    width: 100vw;
    height: 12vh;
    display: flex;
    position: fixed;
    border-bottom: 2px solid white;
    background-color: rgb(29, 94, 206);
}

header .title{
    margin-left: 7%;
    font-weight: 800;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header .menu_bar{
    display: none;
}

.menu{
    width: 100vw;
    height: 88vh;
    position: fixed;
    display: none;
    text-align: center;
    flex-direction: column;
    background-color: rgb(73, 80, 92);
}

.menu a{
    margin-top: 5%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header .pc_menu{
    margin-top: 2%;
    margin-left: 40%;
}

header .pc_menu a{
    text-decoration: none;
    word-spacing: 30px;
}

@media (max-width: 1050px) {
    header .title {
        margin-left: auto;
        margin-right: auto;
    }
    header .menu_bar{
        display: none;
        font-weight: 900;
        font-size: large;
        margin-top: 2%;
        margin-left: 90%;
        position: fixed;
        color: white;
    }
    header .pc_menu{
        display: none;
    }
}

.introduction{
    width: 100vw;
    height: 88vh;
    background-color: rgb(52, 121, 240);
}

.introduction img{
    margin-left: 50%;
    width: 40vw;
    height: 50vh;
    margin-top: -15%;
    border-radius: 50%;
}

.first_section{
    text-align: center;
    width: 30vw;
    margin-left: 12%;
}

.first_section h1{
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first_section .des{
    font-size: large;
}

.first_section .cta{
    width: 16vw;
    height: 7vh;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid rgb(29, 94, 206);
    background-color: rgb(29, 94, 206);
}

.about_section h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.des2{
    text-align: center;
    width: 50vw;
    margin-left: 25%;
    margin-top: -1%;
    font-size: larger;
}

.about_section .bio .about_me{
    width: 60vw;
    height: max-content;
    margin-left: 20%;
}

.about_section .bio .about_me .title2{
    font-weight: 900;
    color: black;
    text-align: center;
    font-size: x-large;
}

.about_section .bio .about_me .infos{
    font-size: larger;
    font-weight: lighter;
}

.about_section .bio .skills{
    height: max-content;
}

.title3{
    text-align: center;
}

.all_skill{
    font-size: larger;
    font-weight: light;
    margin-left: 25%;
    text-align: center;
    width: 50vw;
}

.projects{
    width: 100vw;
    height: max-content;
    border-top: 10px solid white;
    background-color: rgb(29, 94, 206);
}

.projects-display{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.projects-display .project1{
    width: 30vw;
    height: min-content;
    cursor: pointer;
    border: 1px solid white;
}

.project1 h3{
    margin-top: 2%;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.project1 p{
    color: black;
    margin-top: -4%;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    font-style: oblique;
    text-decoration: none;
}

.project1 img{
    width: 30vw;
    height: 30vh;
    border-bottom: 1px solid white;
}

.contact .forms{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.forms .other-form {
    text-align: center;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    width: 35vw;
    height: 7vh;
}

textarea{
    height: 20vh;
    width: 35vw;
}

input[type=submit]{
    width: 10vw;
    height: 6vh;
    margin-left: 40%;
    cursor: pointer;
    border: 2px solid rgb(29, 94, 206);
    background-color: rgb(29, 94, 206);
}

footer{
    width: 100vw;
    height: max-content;
    padding: 10px;
    color: white;
    background-color: black;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box a{
    color: white;
}

.des3{
    color: white;
    width: 30vw;
    font-weight: 100;
}

.social{
    text-align: right;
}

@media (max-width: 768px) {
    .first_section{
        margin-left: 10%;
        width: 80vw;
    }
    .first_section .cta{
        width: 30vw;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        border: 2px solid white;
    }
    .introduction img{
        display: none;
    }
    .des2{
        width: 90vw;
        margin-left: 5%;
    }
    input[type=submit]{
        width: 20vw;
        margin-left: 30%;
    }
    .des3{
        width: 70vw;
    }
    .projects-display {
        grid-template-columns: auto;
        align-items: center;
    }
    .projects-display .project1 {
        width: 90vw;
        margin-top: 2%;
        margin-left: -2%;
    }
    .project1 img {
        width: 100%;
    }
    .about_me .infos {
        width: 90vw;
        margin-left: -23%;
    }
    .skills .all_skill {
        width: 90vw;
        margin-left: 5%;
    }
    .contact .forms {
        flex-direction: column;
    }
    .contact .forms input {
        width: 80vw;
    }
    .contact .forms input[type=submit] {
        width: 40vw;
    }
    .contact .forms textarea {
        width: 80vw;
    }
}






